<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>


<section class="d-flex flex-column h-100">
  <div class="container" id="messages-wrapper">
    <ul id="messages"></ul>
  </div>

  <form action="" id="input-form">
    <input id="messages-field" autocomplete="off" /><button>Send</button>
  </form>

</section>

<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
</script>
</body>
</html>
